<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.1">
    <display-name>ShoppingCart</display-name>

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlet.ProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
</web-app>
